@charset "ISO-8859-1";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	min-height: 100%;
}


#contenedor{
	display: grid;
	grid-template-rows: 70px auto;
	grid-template-areas:
	"header"
	"productos";
}

#cabecera{
	grid-area: header;
}

#productos{
	grid-area: productos;
}